[Unit]
Description=Go Backup Agent Service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/go-backup.sh /etc/go-backup/config.yaml
WorkingDirectory=/usr/local/bin
User=root
Environment=CONFIG_PATH=/etc/go-backup/config.yaml

[Install]
WantedBy=multi-user.target