[Unit]
Description=Go Backup Delete Timer - Run backup cleanup process

[Timer]
OnCalendar=*-*-* 00:00:00
Persistent=true

[Install]
WantedBy=timers.target 